button {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  text-align: center;
  background-color: #E5B6D5;
  border-color: #B2479A #CC7FB5;
  text-transform: uppercase;

}

.random-button {

}

.reset-button {

}

#buttons {
  display: flex;
  flex-direction: row;
  align-conten: space-between;
  margin: auto;
  background: aqua;
}
#background {
  background: red;
  width: 100vw;
  height: 100vh;
}
