button {
  width:25%;
  height:20%;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-color: #E5B6D5;
  border-width: 15px;
  border-color: #B2479A #CC7FB5;
  border-style: solid;
}

button:hover {
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5;
}

#random-button {
  margin-right: 40px;
}

#reset-button {
  margin-left: 40px;
}

#buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

#background {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 980px) {
  #buttons {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 70%;
  }

  #random-button {
    margin-right: 40px;
  }

  #reset-button {
    margin-left: 40px;
  }
}

@media (max-width: 763px) {
  #buttons {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 70%;
  }

  #random-button {
    border-width: 15px;
    width: 60%;
    height: 18%;
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 5em;
  }

  #reset-button {
    width: 60%;
    height: 10%;
    margin-top: 40px;
    margin-left: 0;
  }

}

@media (max-width: 600px) {
  #buttons {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 70%;
  }

  #random-button {
    border-width: 15px;
    width: 70%;
    height: 18%;
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 5em;
  }

  #reset-button {
    width: 70%;
    height: 10%;
    margin-top: 40px;
    margin-left: 0;
  }
}

@media (max-width: 446px) {
  #buttons {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 50%;
  }

  #random-button {
    border-width: 15px;
    width: 70%;
    height: 18%;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 4em;
  }

  #reset-button {
    width: 70%;
    height: 10%;
    margin-top: 20px;
    margin-left: 0;
  }
}
